@font-face {
  font-family: "Segoe Script";
  src: url("../fonts/Segoe-Script/Segoe Script.eot");
  src: url("../fonts/Segoe-Script/Segoe Script.eot?#iefix") format("embedded-opentype"), url("../fonts/Segoe-Script/Segoe Script.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SegoeScript";
  src: url("../fonts/Segoe-Script/SegoeScript.svg") format("svg"), url("../fonts/Segoe-Script/SegoeScript.ttf") format("truetype"), url("../fonts/Segoe-Script/SegoeScript.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato-light/Lato-Light.eot");
  src: url("../fonts/Lato-light/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-light/Lato-Light.svg#Lato-Light") format("svg"), url("../fonts/Lato-light/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-light/Lato-Light.woff") format("woff"), url("../fonts/Lato-light/Lato-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/lato-regular/Lato-Regular.eot");
  src: url("../fonts/lato-regular/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular/Lato-Regular.svg#Lato-Regular") format("svg"), url("../fonts/lato-regular/Lato-Regular.ttf") format("truetype"), url("../fonts/lato-regular/Lato-Regular.woff") format("woff"), url("../fonts/lato-regular/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/lato-bold/Lato-Bold.eot");
  src: url("../fonts/lato-bold/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bold/Lato-Bold.svg#Lato-Bold") format("svg"), url("../fonts/lato-bold/Lato-Bold.ttf") format("truetype"), url("../fonts/lato-bold/Lato-Bold.woff") format("woff"), url("../fonts/lato-bold/Lato-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

.top-menu-all-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  background: #3b3938;
  position: relative;
  top: 65px;
  z-index: 1;
  opacity: 0.9;
}
.top-menu-all-width .top-menu {
  height: 77px;
  width: 1140px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-menu-all-width .top-menu__developer-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}
.top-menu-all-width .top-menu__developer-name .top-menu__logo {
  position: relative;
  top: -26px;
}
.top-menu-all-width .top-menu__developer-name .top-menu__logo .top-menu__logo1 {
  position: absolute;
}
.top-menu-all-width .top-menu__developer-name .top-menu__logo .top-menu__logo2 {
  position: absolute;
  left: 16px;
  top: 2px;
}
.top-menu-all-width .top-menu__developer-name .top-menu__logo .top-menu__logo3 {
  position: absolute;
  top: 12px;
}
.top-menu-all-width .top-menu__developer-name .top-menu__logo-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 60px;
}
.top-menu-all-width .top-menu__developer-name .top-menu__logo-name .top-menu__logo-name-Kreative {
  font-family: "SegoeScript";
  font-size: 32px;
  line-height: 32px;
  color: #fb7d7e;
}
.top-menu-all-width .top-menu__developer-name .top-menu__logo-name .top-menu__logo-name-pixel {
  font-family: "Lato-Bold";
  font-size: 32px;
  color: #fac81b;
}
.top-menu-all-width .top-menu__button {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 30px;
  margin: auto 10px;
  background: #e9696a;
  border-radius: 5px;
  font-family: "SegoeScript";
  font-size: 20px;
  color: white;
}
.top-menu-all-width .top-menu__button:hover {
  background: #f9c71b;
  color: #2F4F4F;
}
.top-menu-all-width .top-menu__list {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-menu-all-width .top-menu__list li a {
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 24px;
  font-family: "Lato-Regular";
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
}
.top-menu-all-width .top-menu__list li a:hover {
  border-bottom: 6px solid #e9696a;
}

.top-section-all-width {
  background: #f6ede9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin-top: -77px;
}
.top-section-all-width .top-section {
  height: 689px;
  width: 1140px;
  background: #f6ede9;
}
.top-section-all-width .top-section__photo {
  position: relative;
  left: 122px;
}
.top-section-all-width .top-section__photo .top-section__camera-lens {
  position: absolute;
  top: 286px;
  left: 484px;
}
.top-section-all-width .top-section__photo .top-section__camera {
  position: absolute;
  top: 197px;
  left: 304px;
}
.top-section-all-width .top-section__photo .top-section__basic-photo {
  position: absolute;
  top: 8px;
}
.top-section-all-width .top-section__photo .top-section__basic-photo-background-right {
  position: absolute;
  top: 480px;
  left: 73px;
}
.top-section-all-width .top-section__photo .top-section__basic-photo-background-left {
  position: absolute;
  top: 504px;
  left: -165px;
}
.top-section-all-width .top-section__text-info {
  margin-top: 210px;
  margin-left: 10px;
}
.top-section-all-width .top-section__text-info .top-section__header {
  width: 410px;
  font-family: "Lato-Light";
  font-size: 32px;
  color: #000000;
  margin-bottom: 40px;
}
.top-section-all-width .top-section__text-info .top-section__header_red {
  color: #f06d6e;
  font-family: "Lato-Bold";
}
.top-section-all-width .top-section__text-info .top-section__text {
  width: 380px;
  font-family: "Lato-Regular";
  font-size: 14px;
  line-height: 28px;
  color: #3d3d39;
  margin-bottom: 40px;
}
.top-section-all-width .top-section__text-info .top-section__button a {
  border: 1px solid #f9c71b;
  border-left: 4px solid #f9c71b;
  outline: 5px solid transparent;
  width: 150px;
  height: 50px;
  font-family: "Lato-Regular";
  font-size: 14px;
  color: #3d3d39;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  position: relative;
}
.top-section-all-width .top-section__text-info .top-section__button a:hover {
  border: 2px solid #f9c71b;
  border-left: 5px solid #f9c71b;
  margin-bottom: 148px;
}
.top-section-all-width .top-section__text-info .top-section__scrolling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.top-section-all-width .top-section__text-info .top-section__scrolling .top-section__scrolling1 {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #6c6966;
  margin-right: 7px;
}
.top-section-all-width .top-section__text-info .top-section__scrolling .top-section__scrolling2 {
  width: 14px;
  height: 14px;
  border: 1px solid #6c6966;
  border-radius: 8px;
  background: #f6eee9;
  margin-right: 7px;
}
.top-section-all-width .top-section__text-info .top-section__scrolling .top-section__scrolling3 {
  width: 14px;
  height: 14px;
  border: 1px solid #6c6966;
  border-radius: 8px;
  background: #f6eee9;
  margin-right: 7px;
}

.check-out-features-all-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e66667;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.check-out-features-all-width .check-out-features {
  height: 655px;
  width: 1140px;
  background: #e66667;
}
.check-out-features-all-width .check-out-features__top-line {
  height: 6px;
  width: 86px;
  background: #ebb90b;
  margin: 0 auto;
}
.check-out-features-all-width .check-out-features__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
  font-family: "Lato-Light";
  font-size: 35px;
  color: #ecba0b;
}
.check-out-features-all-width .check-out-features__header-bold {
  font-family: "Lato-Bold";
  font-size: 35px;
}
.check-out-features-all-width .check-out-features__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.check-out-features-all-width .check-out-features__all .check-out-features__mobile-ready {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  margin-left: 10px;
}
.check-out-features-all-width .check-out-features__all .check-out-features__mobile-ready .check-out-features__mobile-logo {
  width: 168px;
  height: 168px;
  background-color: #dd5d5e;
  background-image: url(../img/phone.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
  border-radius: 84px;
  margin-bottom: 25px;
}
.check-out-features-all-width .check-out-features__all .check-out-features__mobile-ready .check-out-features__mobile-header {
  color: white;
  font-family: "Lato-Light";
  font-size: 22px;
  line-height: 39px;
  margin-bottom: 10px;
}
.check-out-features-all-width .check-out-features__all .check-out-features__mobile-ready .check-out-features__mobile-text {
  color: white;
  text-align: center;
  font-family: "Lato-Regular";
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 25px;
}
.check-out-features-all-width .check-out-features__all .check-out-features__mobile-ready .check-out-features__button-read-more a {
  width: 147px;
  height: 38px;
  color: white;
  font-family: "Lato-Regular";
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #f9c71b;
  border-right: 1px solid #f9c71b;
  border-bottom: 1px solid #f9c71b;
  border-left: 5px solid #f9c71b;
  padding: 10px;
  text-decoration: none;
}
.check-out-features-all-width .check-out-features__all .check-out-features__mobile-ready:hover .check-out-features__mobile-logo {
  background-image: url(../img/phone2.png);
  border: 1px solid #fac81b;
}
.check-out-features-all-width .check-out-features__all .check-out-features__mobile-ready:hover .check-out-features__mobile-header {
  color: #fac81b;
}
.check-out-features-all-width .check-out-features__all .check-out-features__mobile-ready:hover .check-out-features__button-read-more a {
  border-top: 2px solid #f9c71b;
  border-right: 2px solid #f9c71b;
  border-bottom: 2px solid #f9c71b;
  border-left: 6px solid #f9c71b;
}
.check-out-features-all-width .check-out-features__all .check-out-features__html-5-valid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
}
.check-out-features-all-width .check-out-features__all .check-out-features__html-5-valid .check-out-features__html-logo {
  width: 168px;
  height: 168px;
  background-color: #dd5d5e;
  background-image: url(../img/html2.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
  border-radius: 84px;
  margin-bottom: 25px;
}
.check-out-features-all-width .check-out-features__all .check-out-features__html-5-valid .check-out-features__html-header {
  color: white;
  font-family: "Lato-Light";
  font-size: 22px;
  line-height: 39px;
  margin-bottom: 10px;
}
.check-out-features-all-width .check-out-features__all .check-out-features__html-5-valid .check-out-features__html-text {
  color: white;
  text-align: center;
  font-family: "Lato-Regular";
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 25px;
}
.check-out-features-all-width .check-out-features__all .check-out-features__html-5-valid .check-out-features__button-read-more a {
  width: 147px;
  height: 38px;
  color: white;
  font-family: "Lato-Regular";
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #f9c71b;
  border-right: 1px solid #f9c71b;
  border-bottom: 1px solid #f9c71b;
  border-left: 5px solid #f9c71b;
  padding: 10px;
  text-decoration: none;
}
.check-out-features-all-width .check-out-features__all .check-out-features__html-5-valid:hover .check-out-features__html-logo {
  border: 1px solid #fac81b;
  background-image: url(../img/html.png);
}
.check-out-features-all-width .check-out-features__all .check-out-features__html-5-valid:hover .check-out-features__html-header {
  color: #fac81b;
}
.check-out-features-all-width .check-out-features__all .check-out-features__html-5-valid:hover .check-out-features__button-read-more a {
  border-top: 2px solid #f9c71b;
  border-right: 2px solid #f9c71b;
  border-bottom: 2px solid #f9c71b;
  border-left: 6px solid #f9c71b;
}
.check-out-features-all-width .check-out-features__all .check-out-features__css-3-magic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
}
.check-out-features-all-width .check-out-features__all .check-out-features__css-3-magic .check-out-features__css-logo {
  width: 168px;
  height: 168px;
  background-color: #dd5d5e;
  background-image: url(../img/css.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
  border-radius: 84px;
  margin-bottom: 25px;
}
.check-out-features-all-width .check-out-features__all .check-out-features__css-3-magic .check-out-features__css-header {
  color: white;
  font-family: "Lato-Light";
  font-size: 22px;
  line-height: 39px;
  margin-bottom: 10px;
}
.check-out-features-all-width .check-out-features__all .check-out-features__css-3-magic .check-out-features__css-text {
  color: white;
  text-align: center;
  font-family: "Lato-Regular";
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 25px;
}
.check-out-features-all-width .check-out-features__all .check-out-features__css-3-magic .check-out-features__button-read-more a {
  width: 147px;
  height: 38px;
  color: white;
  font-family: "Lato-Regular";
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #f9c71b;
  border-right: 1px solid #f9c71b;
  border-bottom: 1px solid #f9c71b;
  border-left: 5px solid #f9c71b;
  padding: 10px;
  text-decoration: none;
}
.check-out-features-all-width .check-out-features__all .check-out-features__css-3-magic:hover .check-out-features__css-logo {
  background-image: url(../img/css2.png);
  border: 1px solid #fac81b;
}
.check-out-features-all-width .check-out-features__all .check-out-features__css-3-magic:hover .check-out-features__css-header {
  color: #fac81b;
}
.check-out-features-all-width .check-out-features__all .check-out-features__css-3-magic:hover .check-out-features__button-read-more a {
  border-top: 2px solid #f9c71b;
  border-right: 2px solid #f9c71b;
  border-bottom: 2px solid #f9c71b;
  border-left: 6px solid #f9c71b;
}
.check-out-features-all-width .check-out-features__all .check-out-features__amazing-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  margin-right: 10px;
}
.check-out-features-all-width .check-out-features__all .check-out-features__amazing-design .check-out-features__amazing-design-logo {
  width: 168px;
  height: 168px;
  background-color: #dd5d5e;
  background-image: url(../img/amazing-design.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
  border-radius: 84px;
  margin-bottom: 25px;
}
.check-out-features-all-width .check-out-features__all .check-out-features__amazing-design .check-out-features__amazing-design-header {
  color: white;
  font-family: "Lato-Light";
  font-size: 22px;
  line-height: 39px;
  margin-bottom: 10px;
}
.check-out-features-all-width .check-out-features__all .check-out-features__amazing-design .check-out-features__amazing-design-text {
  color: white;
  text-align: center;
  font-family: "Lato-Regular";
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 25px;
}
.check-out-features-all-width .check-out-features__all .check-out-features__amazing-design .check-out-features__button-read-more a {
  width: 147px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: "Lato-Regular";
  font-size: 14px;
  border-top: 1px solid #f9c71b;
  border-right: 1px solid #f9c71b;
  border-bottom: 1px solid #f9c71b;
  border-left: 5px solid #f9c71b;
  padding: 10px;
  text-decoration: none;
}
.check-out-features-all-width .check-out-features__all .check-out-features__amazing-design:hover .check-out-features__amazing-design-logo {
  background-image: url(../img/amazing-design2.png);
  border: 1px solid #fac81b;
}
.check-out-features-all-width .check-out-features__all .check-out-features__amazing-design:hover .check-out-features__amazing-design-header {
  color: #fac81b;
}
.check-out-features-all-width .check-out-features__all .check-out-features__amazing-design:hover .check-out-features__button-read-more a {
  border-top: 2px solid #f9c71b;
  border-right: 2px solid #f9c71b;
  border-bottom: 2px solid #f9c71b;
  border-left: 6px solid #f9c71b;
}

.our-latest-works {
  background: #f6f1ed;
}
.our-latest-works__top-line {
  height: 5px;
  width: 86px;
  background: #ebb90b;
  margin: 0 auto;
}
.our-latest-works__header {
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ecba0b;
  font-family: "Lato-Regular";
  font-size: 35px;
  line-height: 39px;
}
.our-latest-works__header .our-latest-works__header-works {
  font-family: "Lato-Bold";
  font-size: 35px;
  line-height: 39px;
}
.our-latest-works__all-works {
  height: 494px;
  background: #9c9c9c;
}
.our-latest-works__all-works .our-latest-works__all-works-top {
  height: 247px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.our-latest-works__all-works .our-latest-works__all-works-top .our-latest-works__dog {
  width: 25%;
  background-image: url(../img/dog.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@-webkit-keyframes bounce {}
@keyframes bounce {}
.our-latest-works__all-works .our-latest-works__all-works-top .our-latest-works__mountain {
  width: 25%;
  background-image: url(../img/mountain.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -1px 0;
}
.our-latest-works__all-works .our-latest-works__all-works-top .our-latest-works__bird {
  width: 25%;
  background-image: url(../img/bird.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -65px 0;
}
.our-latest-works__all-works .our-latest-works__all-works-top .our-latest-works__city {
  width: 25%;
  background-image: url(../img/city.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -14px -40px;
}
.our-latest-works__all-works .our-latest-works__all-works-bottom {
  height: 247px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.our-latest-works__all-works .our-latest-works__all-works-bottom .our-latest-works__boat {
  width: 25%;
  background-image: url(../img/boat.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -155px;
}
.our-latest-works__all-works .our-latest-works__all-works-bottom .our-latest-works__water {
  width: 25%;
  background-image: url(../img/water.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -90px -45px;
}
.our-latest-works__all-works .our-latest-works__all-works-bottom .our-latest-works__forest {
  width: 25%;
  background-image: url(../img/forest.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -160px -40px;
}
.our-latest-works__all-works .our-latest-works__all-works-bottom .our-latest-works__ocean {
  width: 25%;
  background-image: url(../img/okean.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -260px -95px;
}
.our-latest-works__bottom-line {
  height: 81px;
  background: #f6f1ed;
}

.our-latest-works-responsive-header {
  display: none;
}

.recent-blog-posts-all-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.recent-blog-posts-all-width .recent-blog-posts {
  height: 656px;
  width: 1140px;
}
.recent-blog-posts-all-width .recent-blog-posts__top-line {
  height: 6px;
  width: 86px;
  background: #ebb90b;
  margin: 0 auto;
}
.recent-blog-posts-all-width .recent-blog-posts__header {
  margin-top: 79px;
  margin-bottom: 78px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ebb90b;
  font-family: "Lato-Light";
  font-size: 35px;
  line-height: 39px;
}
.recent-blog-posts-all-width .recent-blog-posts__header .recent-blog-posts__header-blog-posts {
  font-family: "Lato-Bold";
  font-size: 35px;
  line-height: 39px;
}
.recent-blog-posts-all-width .recent-blog-posts__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-house {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
  margin-left: 10px;
}
.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-house__img {
  width: 100%;
  height: 212px;
  background: #f5f1ed url(../img/house.png);
  background-repeat: no-repeat;
  background-position: top -51px left -7px;
}
.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-house__img-face {
  width: 82px;
  height: 82px;
  border-radius: 41px;
  background: #e6e6e6 url(../img/house-face.png);
  background-repeat: no-repeat;
  background-position: left -77px top -5px;
  margin-top: -41px;
}
.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-house__date {
  color: #e66768;
  font-family: "Lato-Regular";
  font-size: 14px;
  line-height: 39px;
}
.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-house__text {
  color: #646464;
  font-family: "Lato-Regular";
  font-size: 22px;
  text-align: center;
}
.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-tractor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
  margin-left: 20px;
  margin-right: 20px;
}
.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-tractor__img {
  width: 100%;
  height: 212px;
  background: #f5f1ed url(../img/tractor.png);
  background-repeat: no-repeat;
  background-position: top -62px left -25px;
}
.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-tractor__img-face {
  width: 82px;
  height: 82px;
  border-radius: 41px;
  background: #e6e6e6 url(../img/tractor-face.png);
  background-repeat: no-repeat;
  background-position: top -4px left -22px;
  margin-top: -41px;
}
.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-tractor__date {
  color: #e66768;
  font-family: "Lato-Regular";
  font-size: 14px;
  line-height: 39px;
}
.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-tractor__text {
  color: #646464;
  font-family: "Lato-Regular";
  font-size: 22px;
  text-align: center;
}
.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-mill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 33%;
  margin-right: 10px;
}
.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-mill__img {
  width: 100%;
  height: 212px;
  background: #f5f1ed url(../img/mill.png);
  background-repeat: no-repeat;
  background-position: top -24px left -9px;
}
.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-mill__img-face {
  width: 82px;
  height: 82px;
  border-radius: 41px;
  background: #e6e6e6 url(../img/mill-face.png);
  margin-top: -41px;
  background-repeat: no-repeat;
  background-position: top -7px left -19px;
}
.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-mill__date {
  color: #e66768;
  font-family: "Lato-Regular";
  font-size: 14px;
  line-height: 39px;
}
.recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-mill__text {
  color: #646464;
  font-family: "Lato-Regular";
  font-size: 22px;
  text-align: center;
}

.contact-us-now-all-width {
  height: 704px;
  background: url(../img/map.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-us-now-all-width .contact-us-now {
  width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact-us-now-all-width .contact-us-now__registration {
  height: 525px;
  width: 562px;
  background: #e56767;
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-us-now-all-width .contact-us-now__registration .contact-us-now__top-line {
  height: 6px;
  width: 86px;
  background: #ebb90b;
  margin: 0 auto 60px;
}
.contact-us-now-all-width .contact-us-now__registration .contact-us-now__header {
  color: #ecba0b;
  font-family: "Lato-Light";
  font-size: 35px;
  line-height: 39px;
  margin-bottom: 15px;
}
.contact-us-now-all-width .contact-us-now__registration .contact-us-now__header .contact-us-now__header-now {
  font-family: "Lato-Regular";
}
.contact-us-now-all-width .contact-us-now__registration .contact-us-now__address {
  color: #ffffff;
  font-family: "Lato-Regular";
  font-size: 13px;
  line-height: 30px;
}
.contact-us-now-all-width .contact-us-now__registration .contact-us-now__telephone {
  color: #ffffff;
  font-family: "Lato-Regular";
  font-size: 17px;
}
.contact-us-now-all-width .contact-us-now__registration .contact-us-now__email {
  color: #ffffff;
  font-family: "Lato-Regular";
  font-size: 13px;
  line-height: 30px;
  margin-bottom: 30px;
}
.contact-us-now-all-width .contact-us-now__registration .contact-us-now__registration-blok .contact-us-now__registration-name-email {
  margin-bottom: 16px;
}
.contact-us-now-all-width .contact-us-now__registration .contact-us-now__registration-blok .contact-us-now__registration-name-email .contact-us-now__registration-name {
  width: 220px;
  height: 43px;
  margin-right: 8px;
  padding-left: 20px;
  font-family: "Lato-Regular";
  font-size: 13px;
  line-height: 30px;
  color: #ffffff;
  background: #e56767;
  border: 1px solid #f5c2c2;
  outline: 1px solid transparent;
}
.contact-us-now-all-width .contact-us-now__registration .contact-us-now__registration-blok .contact-us-now__registration-name-email .contact-us-now__registration-name::-webkit-input-placeholder {
  color: #ffffff;
}
.contact-us-now-all-width .contact-us-now__registration .contact-us-now__registration-blok .contact-us-now__registration-name-email .contact-us-now__registration-email {
  width: 220px;
  height: 43px;
  margin-left: 8px;
  padding-left: 20px;
  font-family: "Lato-Regular";
  font-size: 13px;
  line-height: 30px;
  color: #ffffff;
  background: #e56767;
  border: 1px solid #f5c2c2;
  outline: 1px solid transparent;
}
.contact-us-now-all-width .contact-us-now__registration .contact-us-now__registration-blok .contact-us-now__registration-name-email .contact-us-now__registration-email::-webkit-input-placeholder {
  color: #ffffff;
}
.contact-us-now-all-width .contact-us-now__registration .contact-us-now__registration-blok .contact-us-now__registration-message {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.contact-us-now-all-width .contact-us-now__registration .contact-us-now__registration-blok .contact-us-now__registration-message .contact-us-now__registration-message-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 123px;
  padding: 15px 20px;
  font-family: "Lato-Regular";
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
  background: #e56767;
  border: 1px solid #f5c2c2;
  outline: 1px solid transparent;
  margin-bottom: 30px;
}
.contact-us-now-all-width .contact-us-now__registration .contact-us-now__registration-blok .contact-us-now__registration-message .contact-us-now__registration-message-input::-webkit-input-placeholder {
  color: #ffffff;
}
.contact-us-now-all-width .contact-us-now__registration .contact-us-now__registration-blok .contact-us-now__registration-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.contact-us-now-all-width .contact-us-now__registration .contact-us-now__registration-blok .contact-us-now__registration-button .contact-us-now__send-button2 {
  position: absolute;
  top: 14px;
  left: 257px;
}

.bottom-menu {
  height: 50px;
  background: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #4c4c4c;
}
.bottom-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #b1b1b1;
  font-family: "Lato-Regular";
  font-size: 13px;
  line-height: 39px;
  text-decoration: none;
}
.bottom-menu__list li a {
  margin-right: 25px;
  margin-left: 25px;
  text-decoration: none;
  color: #b1b1b1;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.bottom-menu__list li a:hover {
  border: 1px solid #e56767;
  background: #e56767;
  color: white;
}

.developer-information {
  height: 50px;
  background: #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #b1b1b1;
  font-family: "Lato-Regular";
  font-size: 13px;
  line-height: 28px;
}

@media (max-width: 1400px) {
  .top-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-menu__developer-name {
    margin-right: 300px;
  }
  .top-section-all-width .top-section {
    width: 980px;
  }
  .top-section-all-width .top-section__photo {
    left: 42px;
  }
  .top-section-all-width .top-section__text-info {
    margin-left: -39px;
  }
}
@media (max-width: 1250px) {
  .our-latest-works__all-works .our-latest-works__all-works-top .our-latest-works__dog {
    background-position: -25px 0;
  }
  .our-latest-works__all-works .our-latest-works__all-works-top .our-latest-works__mountain {
    background-position: -65px 0;
  }
  .our-latest-works__all-works .our-latest-works__all-works-top .our-latest-works__bird {
    background-position: -90px 0;
  }
  .our-latest-works__all-works .our-latest-works__all-works-top .our-latest-works__city {
    background-position: -40px -40px;
  }
  .our-latest-works__all-works .our-latest-works__all-works-bottom .our-latest-works__boat {
    background-position: -20px -155px;
  }
  .our-latest-works__all-works .our-latest-works__all-works-bottom .our-latest-works__water {
    background-position: -110px -45px;
  }
  .our-latest-works__all-works .our-latest-works__all-works-bottom .our-latest-works__forest {
    background-position: -200px -40px;
  }
  .our-latest-works__all-works .our-latest-works__all-works-bottom .our-latest-works__ocean {
    background-position: -300px -95px;
  }
}
@media (max-width: 1100px) {
  .top-menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .top-menu__developer-name {
    margin-right: 0px;
  }
  .top-section-all-width .top-section {
    width: 1065px;
    height: 578px;
    background-image: url(../img/new-foto.png);
    background-repeat: no-repeat;
    background-position: top 19px left 160px;
  }
  .top-section-all-width .top-section__photo {
    display: none;
  }
  .top-section-all-width .top-section__text-info {
    margin-left: 10px;
  }
  .top-section-all-width .top-section__text-info .top-section__button a {
    margin-bottom: 40px;
  }
  .top-section-all-width .top-section__text-info .top-section__button a:hover {
    margin-bottom: 38px;
  }
  .our-latest-works__all-works .our-latest-works__all-works-top .our-latest-works__dog {
    background-position: -68px 0;
  }
  .check-out-features-all-width .check-out-features {
    height: 1130px;
    width: 650px;
  }
  .check-out-features-all-width .check-out-features__all {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .check-out-features-all-width .check-out-features__all .check-out-features__mobile-ready {
    margin-left: 0;
  }
  .check-out-features-all-width .check-out-features__all .check-out-features__mobile-ready .check-out-features__button-read-more a {
    margin-bottom: 65px;
  }
  .check-out-features-all-width .check-out-features__all .check-out-features__mobile-ready:hover .check-out-features__button-read-more a {
    margin-bottom: 63px;
  }
  .check-out-features-all-width .check-out-features__all .check-out-features__html-5-valid .check-out-features__button-read-more a {
    margin-bottom: 65px;
  }
  .check-out-features-all-width .check-out-features__all .check-out-features__html-5-valid:hover .check-out-features__button-read-more a {
    margin-bottom: 63px;
  }
  .check-out-features-all-width .check-out-features__all .check-out-features__css-3-magic .check-out-features__button-read-more a {
    margin-bottom: 65px;
  }
  .check-out-features-all-width .check-out-features__all .check-out-features__amazing-design {
    margin-right: 0;
  }
  .check-out-features-all-width .check-out-features__all .check-out-features__amazing-design .check-out-features__button-read-more a {
    margin-bottom: 65px;
  }
}
@media (max-width: 1000px) {
  .recent-blog-posts-all-width .recent-blog-posts {
    height: 680px;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-house__img {
    background-position: top -51px left -60px;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-tractor__img {
    background-position: top -62px left -45px;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-mill__img {
    background-position: top -24px left -35px;
  }
}
@media (max-width: 900px) {
  .check-out-features-all-width .check-out-features {
    width: 600px;
  }
  .our-latest-works__all-works .our-latest-works__all-works-top .our-latest-works__dog {
    background-position: -110px 0;
  }
  .our-latest-works__all-works .our-latest-works__all-works-top .our-latest-works__mountain {
    background-position: -110px 0;
  }
  .our-latest-works__all-works .our-latest-works__all-works-top .our-latest-works__bird {
    background-position: -55px 0;
  }
  .our-latest-works__all-works .our-latest-works__all-works-top .our-latest-works__city {
    background-position: -115px -40px;
  }
  .our-latest-works__all-works .our-latest-works__all-works-bottom .our-latest-works__forest {
    background-position: -240px -40px;
  }
  .our-latest-works__all-works .our-latest-works__all-works-bottom .our-latest-works__ocean {
    background-position: -340px -95px;
  }
  .recent-blog-posts-all-width .recent-blog-posts {
    height: 680px;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-house__img {
    background-position: top -51px left -95px;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-tractor__img {
    background-position: top -62px left -60px;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-mill__img {
    background-position: top -24px left -60px;
  }
}
@media (max-width: 870px) {
  .top-menu-all-width .top-menu__list li a {
    padding-right: 15px;
    padding-left: 15px;
  }
  .top-section-all-width .top-section {
    background-position: top 45px left 43px;
  }
}
@media (max-width: 750px) {
  .top-menu-all-width .top-menu__list li a {
    padding-right: 10px;
    padding-left: 10px;
  }
  .top-section-all-width .top-section {
    background-position: top 45px left -35px;
  }
  .top-section-all-width .top-section__text-info .top-section__text {
    color: #dd5d5e;
  }
  .check-out-features-all-width .check-out-features {
    width: 550px;
  }
  .our-latest-works {
    display: none;
  }
  .our-latest-works-responsive-top-line {
    background: #f6f1ed;
    height: 5px;
    width: 86px;
    background: #ebb90b;
    margin: 0 auto;
  }
  .our-latest-works-responsive-header {
    background: #f6f1ed;
    height: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ecba0b;
    font-family: "Lato-Regular";
    font-size: 35px;
    line-height: 39px;
  }
  .our-latest-works-responsive-header .our-latest-works-responsive-header__works {
    font-family: "Lato-Bold";
    font-size: 35px;
    line-height: 39px;
  }
  .our-latest-works-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .our-latest-works-responsive_left {
    width: 100%;
  }
  .our-latest-works-responsive_left .our-latest-works-responsive__boat {
    width: 100%;
    height: 240px;
    background-image: url(../img/boat.png);
    background-position: top -150px left 0px;
    background-repeat: no-repeat;
  }
  .our-latest-works-responsive_left .our-latest-works-responsive__water {
    width: 100%;
    height: 240px;
    background-image: url(../img/water.png);
    background-position: top -45px left -88px;
    background-repeat: no-repeat;
  }
  .our-latest-works-responsive_left .our-latest-works-responsive__forest {
    width: 100%;
    height: 240px;
    background-image: url(../img/forest.png);
    background-position: top -36px left -183px;
    background-repeat: no-repeat;
  }
  .our-latest-works-responsive_left .our-latest-works-responsive__ocean {
    width: 100%;
    height: 240px;
    background-image: url(../img/okean.png);
    background-position: top -125px left -200px;
    background-repeat: no-repeat;
  }
  .our-latest-works-responsive_right {
    width: 100%;
  }
  .our-latest-works-responsive_right .our-latest-works-responsive__dog {
    width: 100%;
    height: 240px;
    background-image: url(../img/dog.png);
    background-position: top -83px left -186px;
    background-repeat: no-repeat;
  }
  .our-latest-works-responsive_right .our-latest-works-responsive__mountain {
    width: 100%;
    height: 240px;
    background-image: url(../img/mountain.png);
    background-position: top -52px left -142px;
    background-repeat: no-repeat;
  }
  .our-latest-works-responsive_right .our-latest-works-responsive__bird {
    width: 100%;
    height: 240px;
    background-image: url(../img/bird.png);
    background-position: top -40px left -10px;
    background-repeat: no-repeat;
  }
  .our-latest-works-responsive_right .our-latest-works-responsive__city {
    width: 100%;
    height: 240px;
    background-image: url(../img/city.png);
    background-position: top -43px left -50px;
    background-repeat: no-repeat;
  }
  .our-latest-works-responsive-bottom-line {
    height: 81px;
    background: #f6f1ed;
  }
  .recent-blog-posts-all-width {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .recent-blog-posts-all-width .recent-blog-posts {
    height: 1450px;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-house {
    width: 361px;
    margin-left: 0;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-house__img {
    background-position: top -51px left -7px;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-house__text {
    margin-bottom: 50px;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-tractor {
    width: 361px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-tractor__img {
    background-position: top -62px left -25px;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-tractor__text {
    margin-bottom: 50px;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-mill {
    width: 361px;
    margin-right: 0;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-mill__img {
    background-position: top -24px left -9px;
  }
}
@media (max-width: 680px) {
  .top-menu-all-width {
    top: 0px;
  }
  .top-menu-all-width .top-menu:hover .top-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-section-all-width .top-section {
    background-image: url(../img/new-foto-middle.png);
    background-position: top 186px left 36px;
  }
  .top-section-all-width .top-section__text-info {
    margin-top: 130px;
  }
  .top-section-all-width .top-section__text-info .top-section__button a {
    margin-bottom: 110px;
  }
  .top-section-all-width .top-section__text-info .top-section__button a:hover {
    margin-bottom: 108px;
  }
  .our-latest-works-responsive_right .our-latest-works-responsive__dog {
    background-position: top -83px left -247px;
  }
  .contact-us-now-all-width {
    height: 675px;
  }
  .contact-us-now-all-width .contact-us-now__registration {
    height: 495px;
    width: 360px;
  }
  .contact-us-now-all-width .contact-us-now__registration .contact-us-now__top-line {
    margin: 0 auto 20px;
  }
  .contact-us-now-all-width .contact-us-now__registration .contact-us-now__email {
    margin-bottom: 20px;
  }
  .contact-us-now-all-width .contact-us-now__registration .contact-us-now__registration-blok .contact-us-now__registration-name-email .contact-us-now__registration-name {
    margin-right: 0px;
    margin-bottom: 15px;
  }
  .contact-us-now-all-width .contact-us-now__registration .contact-us-now__registration-blok .contact-us-now__registration-name-email .contact-us-now__registration-email {
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-us-now-all-width .contact-us-now__registration .contact-us-now__registration-blok .contact-us-now__registration-message .contact-us-now__registration-message-input {
    margin-bottom: 10px;
  }
  .contact-us-now-all-width .contact-us-now__registration .contact-us-now__registration-blok .contact-us-now__registration-button .contact-us-now__send-button2 {
    left: 127px;
  }
  .bottom-menu__list li a {
    margin-right: 0px;
    margin-left: 0px;
  }
}
@media (max-width: 536px) {
  .top-section-all-width .top-section {
    background-position: top 186px left -51px;
  }
  .top-section-all-width .top-section__text-info {
    margin-top: 106px;
  }
  .top-section-all-width .top-section__text-info .top-section__button a {
    margin-bottom: 133px;
  }
  .top-section-all-width .top-section__text-info .top-section__button a:hover {
    margin-bottom: 131px;
  }
  .check-out-features-all-width .check-out-features {
    height: 2070px;
  }
  .check-out-features-all-width .check-out-features__all {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .check-out-features-all-width .check-out-features__all .check-out-features__mobile-ready {
    margin-left: 0;
  }
  .check-out-features-all-width .check-out-features__all .check-out-features__css-3-magic:hover .check-out-features__button-read-more a {
    margin-bottom: 63px;
  }
  .our-latest-works-responsive_left .our-latest-works-responsive__boat {
    background-position: top -150px left -55px;
  }
  .our-latest-works-responsive_left .our-latest-works-responsive__forest {
    background-position: top -36px left -220px;
  }
  .our-latest-works-responsive_left .our-latest-works-responsive__ocean {
    background-position: top -125px left -200px;
  }
  .our-latest-works-responsive_right .our-latest-works-responsive__dog {
    background-position: top -83px left -265px;
  }
  .our-latest-works-responsive_right .our-latest-works-responsive__mountain {
    background-position: top -52px left -177px;
  }
  .our-latest-works-responsive_right .our-latest-works-responsive__bird {
    background-position: top -40px left -40px;
  }
}
@media (max-width: 450px) {
  .top-section-all-width .top-section {
    background-image: url(../img/new-foto-end.png);
    background-position: top 242px left -40px;
  }
  .top-section-all-width .top-section__text-info {
    margin-top: 85px;
    margin-left: 3px;
  }
  .top-section-all-width .top-section__text-info .top-section__header {
    width: 278px;
    margin-bottom: 20px;
  }
  .top-section-all-width .top-section__text-info .top-section__text {
    width: 300px;
    margin-bottom: 140px;
  }
  .top-section-all-width .top-section__text-info .top-section__button a {
    margin-bottom: 20px;
  }
  .top-section-all-width .top-section__text-info .top-section__scrolling {
    display: none;
  }
  .recent-blog-posts-all-width .recent-blog-posts {
    height: 1470px;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-house {
    width: 290px;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-house__img {
    width: 290px;
    background-position: top -51px left -85px;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-tractor {
    width: 290px;
    margin-left: 0;
    margin-right: 0;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-tractor__img {
    width: 290px;
    background-position: top -62px left -50px;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-mill {
    width: 290px;
  }
  .recent-blog-posts-all-width .recent-blog-posts__all .recent-blog-post-mill__img {
    width: 290px;
    background-position: top -24px left -45px;
  }
  .our-latest-works-responsive_right .our-latest-works-responsive__dog {
    background-position: top -83px left -294px;
  }
  .contact-us-now-all-width .contact-us-now__registration {
    width: 290px;
  }
  .bottom-menu__list li a {
    padding: 10px 6px;
  }
}
@media (max-width: 400px) {
  .top-menu-all-width .top-menu {
    margin-left: 3px;
  }
  .top-menu-all-width .top-menu__developer-name .top-menu__logo-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .top-menu-all-width .top-menu__button {
    width: 80px;
    margin: auto 3px auto 0px;
  }
  .top-section-all-width .top-section {
    background-position: top 242px left -110px;
  }
  .top-section-all-width .top-section__text-info .top-section__button a {
    color: #f9c71b;
  }
  .our-latest-works-responsive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .our-latest-works-responsive_left .our-latest-works-responsive__boat {
    background-position: top -150px left 0px;
  }
  .our-latest-works-responsive_left .our-latest-works-responsive__water {
    background-position: top -45px left -88px;
  }
  .our-latest-works-responsive_left .our-latest-works-responsive__forest {
    background-position: top -36px left -183px;
  }
  .our-latest-works-responsive_left .our-latest-works-responsive__ocean {
    background-position: top -125px left -200px;
  }
  .our-latest-works-responsive_right .our-latest-works-responsive__dog {
    background-position: top -83px left -206px;
  }
  .our-latest-works-responsive_right .our-latest-works-responsive__mountain {
    background-position: top -52px left -142px;
  }
  .our-latest-works-responsive_right .our-latest-works-responsive__bird {
    background-position: top -40px left -10px;
  }
  .our-latest-works-responsive_right .our-latest-works-responsive__city {
    background-position: top -43px left -30px;
  }
}
@media (max-width: 370px) {
  .check-out-features-all-width .check-out-features {
    height: 2107px;
  }
  .check-out-features-all-width .check-out-features__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */